<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block content %}
<body background="{{ url_for('static', filename='map.png' ) }}" style="background-size: cover" >


<section class="section-sm">
	<div class="container ">
<div class="col-6">
    {% for place in places %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h4><a class="article-title">{{ place.name }}</a></h4>
              <small class="text-muted">{{ place.address }}</small>

            </div>
            <a class="mr-2" >{{ place.telephone }}</a>
          </div>
        </article>
    {% endfor %}

</div>
    </div>
</section>

{% endblock content %}
</body>
</html>
