{% extends "index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <body background="{{ url_for('static', filename='bask.jpg' ) }}" style=" background-size: cover">
<section class="hero-area text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Wanna play? </h1>
					<p>One team, one dream</p>
					<div class="short-popular-category-list text-center">
						<h2>Join today!</h2>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
</body>
</head>

</html>
{% endblock content %}